#menu {
  display: flex;
  margin: 1rem auto;
  flex-flow: row;
  flex-wrap: wrap;
  flex: 1 1 100%;
  font-family: var(--font-trade-gothic);
  text-align: center;
}

.menu-item {
  flex: 0 1 33%;
  flex-flow: column;
  margin-bottom: 20px;
  align-items: center;
  cursor: pointer;
}

.menu-item:hover > .thumbnail img {
  transform: scale(1.1);
}

.menu-item:hover > .text .order-cta {
  visibility: visible;
}

.menu-item > .text .menu-name {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.menu-item > .text .order-cta {
  font-size: 1.4rem;
  color: var(--color-gold);
  visibility: hidden;
}

.menu-item > .text .order-cta .arrow-right {
  background-image: url('../assets/images/icons/arrow-gold.svg');
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  /* top: -0.05em; */
}
